<!DOCTYPE HTML>
<meta charset="UTF-8">

<html lang="en" ng-app='theApp'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.14.0.css">
  <title>reconnecting websocket tests</title>
  <script src="//code.jquery.com/qunit/qunit-1.14.0.js"></script>
  <script type="text/javascript">
    window.debug = true;
  </script>
  <script type="text/javascript" src="js/reconn.js"> </script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript">
    function show(title, message){
      var messageContainer = null;
      body = document.getElementsByTagName('body')[0];
      if ( message ){
        messageContainer = document.createElement('p');
        if (typeof(message) === 'object'){
          message = JSON.stringify(message);
        }
        messageContainer.innerHTML = message;
      }
      heading = document.createElement("h3");
      heading.innerHTML = title;
      body.appendChild(heading);
      if ( messageContainer ) {
        body.appendChild(messageContainer);
      }
      body.appendChild(document.createElement('hr'));
    }
    require("reconnecting-websocket").MakeWebSocketReconnecting();
    var ws = new WebSocket("ws://localhost:8080/socket");
    var iropen = false;
    ws.onmessage = function (m) { show('message', m.data); }
    ws.onerror = function (e) { show('error'); }
    ws.onclose = function () { show('close'); } 
    ws.onreconnect = function () { show('reconnect'); }
    ws.onopen = function(e) { iropen=true; show('opened'); };
    ws.ondatanotsent = function (d) { show('didntsend', d); }

    QUnit.test('is connected', function(assert){
      assert.ok(iropen, 'socket is open');
    });
    /*
    QUnit.test('is connected 2', function(assert){
      assert.ok(iropen, 'socket is open');
    });
    */
    QUnit.asyncTest('connect on create', function(assert) {
      expect(1);
      new WebSocket("ws://localhost:8080/socket").onopen = function() {
        assert.ok(true, 'socket opened');
        QUnit.start();
      };
    });

    angular.module('theApp', []).controller(
      'ConfigController',
      function($http, $scope){
        $scope.ping = function() { ws.send("ping"); };
        $scope.die = function() { ws.send("die"); };
        $scope.dieNPing = function() {
          ws.send("die");
          setTimeout(function() { ws.send("ping"); }, 10);
        };
        $scope.dieNPingFast = function() {
          ws.send("die");
          ws.send("ping");
        };
        $scope.dieNPingNPing = function() {
          ws.send("die");
          setTimeout(function() { ws.send("ping"); }, 1);
          setTimeout(function() { ws.send("ping"); }, 10);
        };
      }
    );
  </script>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <div ng-controller="ConfigController">
    <button ng-click="ping()">Send Ping</button>
    <button ng-click="die()">Die!</button>
    <button ng-click="dieNPing()">DieNPing!</button>
    <button ng-click="dieNPingFast()">DieNPingFast!</button>
    <button ng-click="dieNPingNPing()">DieNPingNPing!</button>
  </div>
</body>
</html>
